.carta {
  position: relative;
  margin: 0 17px 34px;

  height: 146px;
  width: 117px;
}

.carta:hover {
  cursor: pointer;
}

.carta--0 .frente {
  background-image: url("../../assets/images/tripletsparrot.gif");
}

.carta--1 .frente {
  background-image: url("../../assets/images/bobrossparrot.gif");
}

.carta--2 .frente {
  background-image: url("../../assets/images/explodyparrot.gif");
}

.carta--3 .frente {
  background-image: url("../../assets/images/fiestaparrot.gif");
}

.carta--4 .frente {
  background-image: url("../../assets/images/metalparrot.gif");
}

.carta--5 .frente {
  background-image: url("../../assets/images/revertitparrot.gif");
}

.carta--6 .frente {
  background-image: url("../../assets/images/unicornparrot.gif");
}

.face {
  position: absolute;

  border: 1px solid #99cea8;
  border-radius: 5px;

  height: 146px;
  width: 117px;

  transition: 0.5s;
  transform-style: preserve-3d;

  backface-visibility: hidden;
}

.carta .face.verso {
  background-color: var(--cor-carta);
  background-image: url("../../assets/images/back.png");
  background-size: 100px 100px;
  background-position: center;
  background-repeat: no-repeat;
}

.carta .face.frente {
  background-color: var(--cor-carta);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100px 100px;
  transform: rotateY(180deg);
}

.carta:hover .face.verso {
  transform: rotateY(-180deg);
}

.carta:hover .face.frente {
  transform: rotateY(0deg);
}
